body{
    margin: 0;
    padding: 0;
    background: rgb(243, 237, 248);

}
header{
    width: 100%;
    height: 70vh;
    position: relative;
    background: url(headerimg.jpg);
    background-size: cover;
}
.header-overlay{
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}
.navbar{
    display: flex;
    position: relative;
    height: 80px;
    border-bottom: 1px solid rgb(114, 112, 112);
}
.navbar .logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
    cursor: pointer;
}
.main-menu{
    position: absolute;
    top: 40%;
    right: 10%;
    width: 60%;
}
.main-menu ul{
    display: flex;
    margin: auto;
    justify-content: space-evenly;

}
.main-menu ul li{
    list-style: none;
    transition: .5s;
}
.main-menu ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05cm;
    font-size: 15px;
    font-weight: 200;
}
.main-menu ul li:hover{
    transform: scale(1.2);
}
.hamburger-menu{
    position: absolute;
    right: 10%;
    top: 40%;
    display: none;
}
.hamburger-menu i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.responsive{
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 300px;
    text-align: center;
    height: 100vh;
    padding: 100px 0px 100px 0px;
    transition: 1s all ease-in-out;
    z-index: 10;
    display: none;

}
.responsive i{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.responsive ul li{
    list-style: none;
    display: block;
    cursor: pointer;
    width: 100%;
    line-height: 5;
    text-align: center;
}

.responsive ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
}
.responsive ul a:hover{
    border: 1px solid rgb(110, 109, 109);

}
.header-overlay .main-heading{
    margin: auto;
    margin-top: 15%;
    transition: .5s;
}
.header-overlay .main-heading h3{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    transition: .5s;
}
main{
    padding: 4rem 0 4rem 0;
}
.product-card{
    position: relative;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgb(211, 208, 208);
    margin-top: 5%;
    background-color: white;
    

}
h1.price{
    color: rgb(85, 83, 83);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
h1 span{
    position: absolute;
    right: 5%;
    top: 5%;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.product-img{
    width: 40%;
}
.product-img img{
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.product-details{
    width: 60%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.product-details i{
    color: green;
    margin-right: 5px;
}
.product-details h3, h2, h6, h5, h1{
    margin: 0.2rem;
    font-weight: 200;
}
h3.product-name{
    font-weight: 600 !important;
}
.pros-cons{
    display: flex;
}
.pros-cons .pros{
    padding: 1rem 1rem 1rem 0;
}
.pros-cons .cons{
    padding: 1rem 1rem 1rem 0;
}
.pros-cons i{
    color: rgb(94, 92, 92);
}
.pros-cons h5{
    font-weight: 200;
}
.btn-div{
    display: flex;
}
.btn-div a button{
    width: 100px;
    height: 30px;
    background-color: rgb(29, 28, 28);
    color: white;
    border: none;
    margin-right: 1rem;
    cursor: pointer;

}
.btn-div img{
    height: 30px;
    width: 40px;
    cursor: pointer;
}
.footer-div{
    background-color: white;
    text-align: center;
    color: black;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 30px;
} 
.footer-div .social-box{
    width: 300px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    cursor: pointer;
    margin-bottom: 2rem;

}
.footer-div .social-box i{
    font-size: 20px;
}
.footer-div .social-box i:hover{
    color: green;
}
.footer-div li{
    list-style: none;
    margin: 1rem;
}
.footer-div li a{
    text-decoration: none;
    color: black;
}
.footer-div li a:hover{
    color: rgb(54, 54, 54);
}
.footer-div hr{
    margin-top: 3rem;
}

/* Media Queries */
@media only screen and (max-width: 1200px){
    .product-img img{
        margin-top: 10%;
        
    }
}
@media only screen and (max-width: 1050px){
    .header-overlay .main-heading h3{
        margin-top: 18%;
    }
    .product-img img{
        width: 100%;
        margin-top: 15%;
        
    }

}
@media only screen and (max-width: 850px){
    .main-menu ul{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    h1 span{
        font-size: 25px;
    }

    .product-card{
        display: block;
    }
    .product-img{
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .product-img img{
        margin-top: 0;
    }
    .product-details{
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 900px){
    .product-img img{
        width: 100%;
        margin-top: 25%;
        
    }
}
@media only screen and (max-width: 750px){
    .header-overlay .main-heading{
        padding: 0px 30px 0px 30px;
        margin-top: 25%;
    }
}
@media only screen and (max-width: 500px){
    header{
        height: 400px;
    }
    .header-overlay{
        height: 400px;
    }
    .header-overlay .main-heading{
        margin-top: 40%;
    }
    
}
